@media screen and (max-width: 768px) {

    .hero {
        flex-direction: column;
        min-height: 50vh;
    }

    .hero .img-perfil {
        max-width: 200px;
    }

    .hero-title, .hero-sub {
        text-align: center;
    }

    .hero .hero-text .social-hero {
        justify-content: center;
        gap: 1rem;
    }

    .card {
        flex-direction: column;
    }

    .card-title, .card-sub,
    .card-tools, .links-card, 
    .plataforma {
        text-align: center;
        justify-content: center;
    }

    .cards-bottom {
        grid-template-columns: 1fr;
    }

    .footer .inputs-top {
        flex-direction: column;
    }
}


@media screen and (max-width: 500px) {
    .hero { 
        min-height: 55vh;
    }
}

@media screen and (max-width: 375px) {

    .hero {
        padding: 2rem 0rem;
    }

    .social-hero {
        flex-wrap: wrap;
    }

    .links-card {
        flex-wrap: wrap;
    }
}