@media (width <= 1200px) {
    .header {
        padding: 1rem;
    }
}

@media (width <= 768px) {

    .nav-menu {
        position: absolute;
        top: 70px;
        right: 20px;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        width: 200px;
        height: 300px;
        transition: scale(0.9);
        transform-origin: right;
        opacity: 0;
        pointer-events: none;
    }

    .toggle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        gap: 6px;
        cursor: pointer;
        z-index: 2;
    }

    .hero {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .hero-text {
        text-align: center;
    }

    .hero .hero-text .hero-p {
        max-width: 100%;
    }

    .hero-cont {
        justify-content: center;
    }

    .hero .imagen-hero .img-perfil {
        max-width: 280px;
    }

    .sobre-mi, .proyectos, .footer {
        padding-top: 80px;
    }

    .title {
        text-align: center;
    }

    .sobre-mi .text-sobre {
        flex-direction: column;
    }

    .card {
        flex-direction: column;
    }

    .card .card-tools {
        justify-content: center;
    }

    .card-title, .card-sub,
    .card-tools, .links-card, 
    .plataforma {
        text-align: center;
        justify-content: center;
    }

    .footer .inputs-top {
        flex-direction: column;
    }
}

@media (width <= 550px) {
    .header {
        left: 0;
        transform: none;
    }

    .hero .imagen-hero .img-perfil {
        max-width: 220px;
    }

    .sobre-mi .text-sobre {
        grid-template-columns: 1fr;
    }

    .sobre-mi .text-sobre .sub-sobre, .cert-a{
        text-align: center;
    }

    .proyectos .cards {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .card .card-imagen .img-card {
        height: 300px;
    }
}