@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* --bg-body: rgb(18, 14, 29); */
    /* --bg-body: #1c1e22; */
    --bg-body: #0a0a0a;
    --bg-header: #1c1e2244;
    --bg-btn-con: #A2C38B;
    --bg-btn-cv: #B1CCC4;
    --iconos: #B1CCC4;
    --white: #fff;
    --field-input: #000000e8;
    --transition: all .3s ease;
    --font-mont: "Montserrat", serif;
    --font-roboto: "Roboto", sans-serif;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-body);
    color: var(--white);
    position: relative;
}

.wave-bg {
    z-index: -10;
    position: fixed;
    top: 0; 
    width: 100vw; 
    height: 100vh; 
    background: radial-gradient(ellipse 40% 70% at 20% -20%,#8684fb60,#000000);
}

.container {
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 10;
}

.nav {
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 0.5rem;
}

.logo-container .img-logo {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.nav-menu .nav-item .nav-link {
    text-decoration: none;
    color: var(--white);
    position: relative;
    padding: 2px 0px;
    font-weight: 500;
    font-family: var(--font-mont);
}

.nav-item .nav-link:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #00c3ff;
    transition: var(--transition);
}

.nav-item .nav-link:hover::after {
    width: 100%;
}

.btn-toggle {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icono-dark {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.icono-dark #icono {
    font-size: 1.5rem;
    color: var(--white);
}

.hero-title,
.hero-sub, 
.title,
.card-title {
    font-family: var(--font-roboto);
    font-weight: 700;
}

.hero-desc,
.sub, 
.edu-certi, 
.card-sub, .foo-sub {
    font-family: var(--font-mont);
    font-weight: 600;
}

/* menu ham */

.menu-toggle {
    display: none;
}

.menu-toggle .line {
    background-color: var(--white);
    width: 100%;
    height: 3px;
    transition: var(--transition);
}

.menu-toggle.active .one {
    transform: translateY(4px) rotate(45deg);
}

.menu-toggle.active .two {
    display: none;
}

.menu-toggle.active .three {
    transform: translateY(-4px) rotate(-45deg);
}

/* hero section */

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-perfil {
    width: 100%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 1rem auto;
    object-fit: cover;
    border-radius: 50%;
}

.hero-content .hero-text {
    color: var(--white);
    max-width: 700px;
    margin: 0 auto;
}

.hero-title, .hero-sub,
.hero-desc {
    text-align: center;
}

.hero-title {
    font-size: 3em;
    letter-spacing: 2px;
}

.hero-sub {
    font-size: 1.2rem;
    margin: 1.5rem 0rem;
    letter-spacing: 2px;
}

.hero-desc {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.botones {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.btn-con,
.btn-cv,
.btn-link,
.btn-link-more, 
.form-input, 
.input-msj,
.btn-submit {
    font-family: var(--font-mont);
    font-weight: 500;
}

.btn-con,
.btn-cv {
    text-decoration: none;
    border: none;
    padding: 0.7rem 4rem;
    display: block;
    border-radius: 30px;
    cursor: pointer;
    color: var(--white);
    transition: var(--transition);
    border: 1px solid #8a8a8a85;
}

.btn-con {
    background-color: var(--white);
    color: black;
}

.btn-cv {
    color: var(--white);
}

.btn-con:hover, 
.btn-cv:hover {
    opacity: 0.8;
}

/* sobre mi */

.sobre-mi {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 3rem;
}

.text-sobre {
    margin-top: 5rem;
    text-align: center;
    padding: 0 1rem;
}

.title-sobre {
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.sub-sobre {
    font-size: 1.2rem;
    line-height: 1.7;
    letter-spacing: 1px;
}

/* educacion */

.educacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.uni,
.cert {
    margin-bottom: 2rem;
    line-height: 1.5;
    font-size: 1.2rem;
}

.cert {
    display: block;
    text-decoration: none;
    color: var(--white);
    width: fit-content;
    transition: all .3s ease;
}

.cert:hover {
    color: #797878;
}

.title-edu {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    text-align: center;
}

.iconos {
    display: flex;
    gap: 3rem;
    margin: 4rem 0;
    flex-wrap: wrap;
    justify-content: center;
}

.icon-content {
    text-align: center;
    transition: var(--transition);
}

.icon-content:hover {
    transform: scale(1.15);
}

.skill-img {
    width: 80px;
    padding: 6px;
    display: block;
    object-fit: cover;
    margin: 0 auto;
}

.icon-texto {
    letter-spacing: 2px;
    font-weight: 300;
}

/* seccion proyectos */
.proyectos {
    min-height: 100vh;
    padding-top: 4rem;
}

.pro-title {
    text-align: center;
    font-size: 1.8rem;
    margin: 3rem 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding: 2rem;
}

.btn-link {
    text-align: center;
    display: block;
    margin: 1rem auto;
    padding: 10px 2rem;
    border: none;
    border-radius: 20px;
    background-color: var(--bg-btn-con);
    cursor: pointer;
    width: 250px;
    text-decoration: none;
    color: #000;
    transition: var(--transition);
}

.btn-link:hover {
    opacity: 0.8;
}

.card {
    background-color: rgba(129, 129, 129, 0.1);
    border-radius: 20px;
    padding: .5rem;
    transition: var(--transition);
}

.card:hover {
    background-color: rgba(129, 129, 129, 0.2);
}

.card-texto {
    padding: 0 10px;
    text-align: center;
}

.card-title {
    font-size: 1.3rem;
    padding: 15px 0px;
}

.card-sub {
    line-height: 1.6;
}

.card-texto .dedica {
    color: #19f400;
}

.card-tools {
    display: inline-flex;
    padding: 1rem 0rem;
}

.img-card {
    width: 100%;
    max-width: 360px;
    height: 200px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    display: block;
    margin: 1rem auto;
}

.tool-img {
    width: 38px;
    height: 38px;
    display: block;
    padding: 3px;
}

.proyectos .boton-more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
}

.btn-link-more {
    text-decoration: none;
    display: block;
    padding: 0.8rem 4rem;
    color: #000;
    border-radius: 30px;
    background-color: var(--bg-btn-con);
    transition: var(--transition);
}

.btn-link-more:hover {
    opacity: 0.8;
}

/* footer */

.footer {
    padding: 5rem 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.foo-top {
    text-align: center;
}

.foo-title {
    margin-bottom: 1.5rem;
}

.form-contact {
    width: 100%;
    margin: 2rem auto;
    display: grid;
    gap: 2rem;
    max-width: 600px;
}

.input-email,
.input-text,
.input-msj {
    background-color: rgba(129, 129, 129, 0.1);
    padding: 1rem 1.2rem;
    border: none;
    color: var(--white);
    outline: none;
    font-size: 1rem;
    border-radius: 10px;
    transition: var(--transition);
    border: 1px solid #636a7877;
}

.input-email:focus,
.input-text:focus,
.input-msj:focus {
    background-color: rgba(129, 129, 129, 0.2);
}

.input-msj {
    height: 280px;
    resize: none;
}

.btn-submit {
    width: 250px;
    padding: 1rem;
    margin: 0 auto;
    border: none;
    border-radius: 30px;
    background-color: var(--bg-body);
    cursor: pointer;
    color: var(--white);
    border: 1px solid #8893a78a;
    transition: var(--transition);
}

.btn-submit:hover {
    background-color: #8893a78a;
}

.foo-redes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
}

.foo-iconos {
    display: flex;
    gap: 2rem;
}

.foo-iconos .link-icono {
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--white);
    padding: 5px;
    transition: var(--transition);
}

.foo-iconos .link-icono:hover {
    color:var(--bg-btn-cv);
}