@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* --bg-body: rgb(18, 14, 29); */
    /* --bg-body: #1c1e22; */
    --bg-body: #000000;
    /* --bg-header: #1c1e2244;
    --bg-btn-con: #A2C38B;
    --bg-btn-cv: #B1CCC4;
    --iconos: #B1CCC4; */
    --white: #fff;
    --field-input: #000000e8;
    --transition: all .3s ease;
    --font-mont: "Montserrat", serif;
    --font-roboto: "Roboto", sans-serif;


    --header-bg: rgba(203, 201, 201, 0.1);
    --btn-bg: #046DAB;
    --border-card: #3E3E3E;
    --input-bg: rgba(203, 201, 201, 0.3);
    --bg-line: #3E3E3E;
    --black: #000;
    --card-bt: hsla(0, 0%, 24%, 0.3);
    --input-con: hsla(0, 2%, 79%, 0.3);
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-body);
    color: var(--white);
    position: relative;
}

.wave-bg {
    border-radius: 50%;
    z-index: -10;
    position: fixed;
    top: -30px; 
    left: 0;
    box-shadow: 0 0 400px 180px #8684fb60;
    /* background: radial-gradient(ellipse 40% 70% at 20% -20%,#8684fb60,#000000); */
}

.line {
    width: 100%;
    height: 2px;
    background-color: var(--bg-line);
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.header {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
} 

.header .nav{
    background-color: var(--header-bg);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    padding: .5em 1em;
}

.nav .logo-container .img-logo {
    width: 100%;
    max-width: 35px;
    object-fit: cover;
    display: block;
    border-radius: 50%;
}

.mode-toggle {
    border: none;
    background: none;
    cursor: pointer;
}

.mode-toggle i {
    font-size: 1.5rem;
}

.mode-toggle #icon-sun {
    color: var(--white);
}

.mode-toggle #icon-moon {
    display: none;
    color: var(--black);
}

/* hero seccion */

.hero {
    display: flex;
    align-items: center;
    gap: 2rem;
    min-height: 40vh;
    margin-top: 6rem;
}

.hero .img-perfil {
    width: 100%;
    max-width: 250px;
    border-radius: 50%;
    display: block;
    object-fit: cover;
}

.hero-title {
    font-weight: 700;
    font-family: var(--font-roboto);
}

.hero-sub,
.sub-sobre, 
.card-sub {
    font-family: var(--font-roboto);
    font-weight: 400;
}

.hero .hero-text .hero-title {
    font-size: clamp(1.5rem, 10vw, 3rem);
    letter-spacing: 2px;
}

.hero .hero-text .hero-sub {
    letter-spacing: 2px;
    margin: 1rem 0px;
}

.hero .hero-text .social-hero {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}

.hero .hero-text .social-hero .link-icono {
    color: var(--white);
    font-size: 1.5rem;
    width: fit-content;
}

.hero .hero-text .social-hero .btn-cv {
    display: inline-block;
    background-color: var(--btn-bg);
    padding: 0.5em 2em;
    border-radius: 30px;
    color: var(--white);
    font-family: var(--font-mont);
    transition: var(--transition);
}

.btn-cv:hover {
    opacity: 0.8;
}

.link-icono, .btn-cv {
    text-decoration: none;
}

/* sobre mi seccion  */
.sobre-mi {
    padding: 3em 0;
}

.title {
    margin-bottom: 1.5rem;
    font-size: clamp(1.5rem, 10vw, 1rem);
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    font-family: var(--font-roboto);
    font-weight: 500;
}

.title .icono-top i {
    font-size: 1.2rem;
} 

.text-sobre .sub-sobre {
    line-height: 1.6;
}

/* cards seccion */

.proyectos {
    padding: 1em 0;
}

.cards {
    display: grid;
    gap: 2rem;
}

.cards .card {
    display: flex;
    align-items: center;
    border: 1px solid var(--border-card);
    gap: 2rem;
    overflow: hidden;
    border-radius: 10px;
    padding: 1em;
}

.img-card {
    width: 100%;
    max-width: 400px;
    height: 250px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 10px;
}

.card-title {
    font-family: var(--font-roboto);
    font-weight: 500;
    margin-bottom: 1rem;
}

.card-sub {
    margin: .5rem 0;
    line-height: 1.5;
}

.card-tools {
    padding: 10px 0;
    display: flex;
    gap: 5px;
}

.card-tools .tool-img {
    width: 25px;
    height: 25px;
}

.links-card {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.links-card .btn-web, .code-link {
    padding: .5em 1rem;
    display: inline-block;
    color: var(--white);
    text-decoration: none;
    border-radius: 30px;
    transition: var(--transition);
}

.links-card .btn-web {
    background-color: var(--btn-bg);
}

.links-card .code-link {
    border: 1px solid var(--border-card);
}

.links-card .btn-web:hover {
    opacity: 0.8;
}

.links-card .code-link:hover {
    color: var(--black);
    background-color: var(--white);
}

.cards-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.cards-bottom .card-link {
    text-decoration: none;
    color: var(--white);
    transition: var(--transition);
}

.card-link:hover {
    background-color: var(--card-bt);
}

.cards-bottom .card-bottom{
    padding: 1em;
    border: 1px solid var(--border-card);
    border-radius: 10px;
}

.card-bottom .plataforma {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-bottom .plat-name {
    border: 1px solid var(--border-card);
    padding: 5px;
}

/* contacto seccion */

.footer {
    padding: 2em 0em 3em;
}

.footer-contact {
    display: grid;
    gap: 1rem;
}

.inputs-top {
    display: flex;
    gap: 1rem;
    margin-bottom: 20px;
}

.form-input, .input-msj {
    border: none;
    outline: none;
    background-color: var(--input-con);
    color: var(--white);
    border-radius: 10px;
    font-size: 1rem;
    font-family: var(--font-roboto);
    font-weight: 600;
}

.form-input:focus, 
.input-msj:focus {
    opacity: 0.8;
}

.inputs-top .form-input {
    width: 100%;
    padding: 1em;
}

.input-msj {
    width: 100%;
    padding: 1rem;
    height: 150px;
    resize: none;
    margin-bottom: 20px;
}

.btn-submit {
    border: none;
    border-radius: 30px;
    margin: 0 auto;
    display: block;
    color: var(--white);
    padding: .8em 4em;
    background-color: var(--btn-bg);
    cursor: pointer;
}

